.turntable {
  display: inline-block;
  height: auto;
  width: 20em;
  max-width: 700px;
  margin: 0 auto;
}
.turntable ul {
  padding: 0px;
  margin: 0px; 
}
.turntable ul li {
  list-style-type: none;
  display: none; 
  position: relative;
}
.turntable ul li img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  border-radius: 10px;
}
.turntable ul li.active {
  display: block; 
}
.turntable ul li:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.turntable-container{
  padding-bottom: 1em;
}
