<h2>Gallery</h2>
<section class="img-gallery-magnific">
    <div class="magnific-img">
    <a class="image-popup-vertical-fit" href="images/dinnerfortwo.jpg" title="Dinner for Two" link="dinnerfortwo">
        <img class='gallery-img' src="images/dinnerfortwo.jpg" alt="Dinner for Two" >
    </a>
    </div>
    <div class="magnific-img">
    <a class="image-popup-vertical-fit" href="images/dogwalker.jpg" title="Dog Walker" link="dogwalker">
        <img class='gallery-img' src="images/dogwalker.jpg" alt="dog walker" >
        
    </a>
    </div>
    <div class="magnific-img">
    <a class="image-popup-vertical-fit" href="images/elmori.jpg" title="È Morto" link="elmori">
        <img class='gallery-img' src="images/elmori.jpg" alt="el mori" >
        
    </a>
    </div>
    <div class="magnific-img">
    <a class="image-popup-vertical-fit" href="images/night.jpg" title="Night" link="night">
        <img class='gallery-img' src="images/night.jpg" alt="night" >
        
    </a>
    </div>
    <div class="magnific-img">
    <a class="image-popup-vertical-fit" href="images/nuclearshit.jpg" title="Nuclear Shit" link="nuclearshit">
        <img class='gallery-img' src="images/nuclearshit.jpg" alt="nuclear shit" >
        
    </a>
    </div>
    <div class="magnific-img">
    <a class="image-popup-vertical-fit" href="images/pastafarian.jpg" title="Pastafarian" link="pastafarian">
        <img class='gallery-img' src="images/pastafarian.jpg" alt="pastafarian" >
        
    </a>
    </div>
    <div class="magnific-img">
    <a class="image-popup-vertical-fit" href="images/pout.jpg" title="Pout" link="pout">
        <img class='gallery-img' src="images/pout.jpg" alt="pout" >
        
    </a>
    </div>
    <div class="magnific-img">
    <a class="image-popup-vertical-fit" href="images/unjust.jpg" title="Unjust" link="unjust">
        <img class='gallery-img' src="images/unjust.jpg" alt="unjust" >
        
    </a>
    </div>
    <div class="magnific-img">
    <a class="image-popup-vertical-fit" href="images/us.jpg" title="Us" link="us">
        <img class='gallery-img' src="images/us.jpg" alt="Us" >
        
    </a>
    </div>
</section>
<div class="clear"></div>